* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(29, 29, 29);
}

h1 {
    color: lightgoldenrodyellow;
}

#main {
    display: grid;
    place-items: center;
    margin: 0 auto;
}
#board {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    place-items: center;
    border-radius: 10px;
    background-color: rgb(60, 60, 99);
}

.tile {
    width: 150px;
    height: 150px;
    /* align-self: center; */
    text-align: center;
    line-height: 1.4em;
    font-size: 75pt;
    border: 1px dashed rgb(249, 255, 215);
    border-radius: 5px;
    color: rgb(255, 247, 176);
    background-color: purple;
    cursor: pointer;
}

.tile:hover {
    background-color: rgb(101, 180, 255);
}