* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

body {
    background-color: rgb(29, 29, 29);
}

h1 {
    color: lightgoldenrodyellow;
}

#main {
    display: grid;
    place-items: center;
    margin: 0 auto;
}
#board {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    place-items: center;
    border-radius: 10px;
    background-color: rgb(60, 60, 99);
}

#menu {
    display: grid;
    grid-template: 35px 25px 40px / 1fr 1fr 1fr;
    margin: 10px;
}

#startRestart {
    grid-row: 2;
    grid-column: 2;
    background-color: rgb(234, 0, 255);
    width: 150px;
    height: 25px;
    justify-self: center;
}

#playerOne {
    grid-row: 2 / 2;
    grid-column: 1;
    width: 150px;
    height: 25px;
    justify-self: right;
}

#playerTwo {
    grid-row: 2 / 3;
    grid-column: 3;
    width: 150px;
    height: 25px;
    justify-self: left;
}

.playerInfo {
    grid-row: 1;
    grid-column: 2;
    width: 400px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-self: center;
}

.winnerInfo {
    grid-row: 3;
    grid-column: 2;
    width: 400px;
    color: rgb(255, 238, 0);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    align-self: end;
}

.tile {
    width: 150px;
    height: 150px;
    /* align-self: center; */
    text-align: center;
    line-height: 1.4em;
    font-size: 75pt;
    border: 1px dashed rgb(249, 255, 215);
    border-radius: 5px;
    color: rgb(255, 247, 176);
    background-color: purple;
}

.tile:hover {
    background-color: rgb(101, 180, 255);
}